@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

:root {
  --cormorant: "Cormorant Garamond";
  --manrope: "Manrope";
  --background-section1: #093931;
  --color-texto1: #f5d38e;
  --color-texto2: #f2c66d;
  --color-texto3: #ffffff;
  --color-texto-s3: #0d554a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage {
  background-color: var(--color-texto3);
  /* width: 1440px;
  height: 4583px; */
}

input,
label {
  display: none;
}

.section1 {
  height: 821px;
  background-color: var(--background-section1);
  background-image: url(./assets/img/olas_blancas.png);
  position: relative;
}

.header {
  height: 62px;
  display: flex;
  align-items: center;
}

.header__p {
  display: flex;
  color: var(--color-texto1);
  font-family: var(--cormorant);
  font-size: 30px;
  margin-left: 134px;
  margin-right: 559px;
}

.header__nav {
  display: flex;
  justify-content: right;
}

.nav__ul {
  display: flex;
  gap: 30px;
  margin-right: 132px;
}

.nav__li {
  list-style-type: none;
}

.nav__a {
  text-decoration: none;
  color: var(--color-texto3);
  font-size: 14px;
  font-family: var(--manrope);
}

.nav__a-active {
  color: var(--color-texto2);
  font-weight: 700;
}

.nav__rectangle {
  position: absolute;
  width: 70px;
  height: 4px;
  top: 39px;
  left: 0;
  background-color: #f2c66d;
  border-radius: 2px;
  margin-left: 777px;
  margin-top: 8px;
}

.section1__parrafo {
  width: 537px;
  height: 282px;
  font-size: 69px;
  font-weight: 400;
  line-height: 94px;
  color: var(--color-texto1);
  font-family: var(--cormorant);
  margin-top: 170px;
  margin-left: 132px;
  margin-right: 771px;
}

.section1__button {
  display: inline-flex;
  padding: 12px 59px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  margin-top: 24px;
  margin-left: 132px;
  font-family: var(--manrope);
  color: var(--color-texto3);
  font-size: 18px;
}

.section1__images {
  position: absolute;
  width: 568px;
  height: 543px;
  top: 139px;
  left: 741px;
}

.images__imagebig {
  position: absolute;
  width: 407px;
  height: 543px;
  top: 0;
  left: 0;
}

.images__imagesmall {
  position: absolute;
  width: 275px;
  height: 355px;
  top: 102px;
  left: 293px;
}

.images__iconbutton {
  background: rgba(0, 0, 0, 0);
  border-radius: 26px;
  border-style: solid;
  border-color: #effdfa;
  border-width: 1px;
  width: 52px;
  height: 52px;
  position: absolute;
  right: 114px;
  top: 248px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.iconbutton__play {
  position: absolute;
  transform: translate(12px, 9px);
  width: 31px;
  height: 31px;
}
/* //////////////  SECTION 2  ////////*/
.section2 {
  height: 232px;
  position: relative;
  overflow: hidden;
}

.services__icon {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 36px;
  overflow: visible;
}

.services__icon-1 {
  left: calc(50% - 433px);
}

.services__icon-2 {
  left: calc(50% - 30px);
}
.services__icon-3 {
  left: calc(50% - -373px);
}

.services__title {
  color: #171a1f;
  text-align: center;
  font-family: var(--cormorant);
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  top: 116px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.services__title-1 {
  left: calc(50% - 436px);
  width: 70px;
}

.services__title-2 {
  left: calc(50% - 58px);
  width: 120px;
}

.services__title-3 {
  left: calc(50% - -334px);
  width: 143px;
}

.services__text {
  color: #9095a0;
  text-align: center;
  font-family: var(--manrope);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  position: absolute;
  top: 144px;
  width: 276px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.services__text-1 {
  left: calc(50% - 540px);
}

.services__text-2 {
  left: calc(50% - 137px);
}

.services__text-3 {
  left: calc(50% - -266px);
  height: 40px;
}

/* -----------------------  SECTION 3 -----------------------*/
.section3 {
  height: 506px;
}

.content {
  margin-left: 70px;
  margin-top: 48px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.featured {
  margin-left: 132px;
}

.featured__title {
  width: 264px;
  height: 112px;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  color: var(--color-texto-s3);
  font-family: var(--cormorant);
  margin-top: 54px;
  margin-left: 132px;
}

.featured__p {
  width: 264px;
  height: 78px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9095a0;
  font-family: var(--manrope);
  margin-top: 12px;
  margin-left: 132px;
}

.section1__button-featured {
  color: var(--color-texto-s3);
  border: 1px solid var(--color-texto-s3);
}

.card__content {
  overflow: hidden;
  margin-right: 24px;
  width: 276px;
  height: 410px;
  flex-shrink: 0;
  margin-top: 48px;
  left: 444px;
  border-radius: 8px;
  background: var(--color-texto3);
  box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
}

.card__content-1 {
  margin-left: 48px;
}

.card__content-2 {
  margin-right: 0;
}

.card__h3 {
  margin-top: 12px;
  margin-left: 12px;
  color: #171a1f;
  font-family: var(--cormorant);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.card__price {
  color: #171a1f;
  margin-left: 12px;
  font-family: var(--manrope);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

/* //////////////  SECTION 4 ////////*/
.section4 {
  height: 1082px;
  position: relative;
}

.collections__title {
  color: var(--color-texto-s3);
  text-align: center;
  font-family: var(--cormorant);
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 141px);
  top: 48px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.collections__frame {
  background: #9095a0;
  border-radius: 8px;
  width: 360px;
  height: 360px;
  position: absolute;
  box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
  overflow: hidden;
}

.collections__frame-1 {
  left: calc(50% - 588px);
  top: 186px;
}

.collections__frame-2 {
  left: calc(50% - 180px);
  top: 150px;
}

.collections__frame-3 {
  left: calc(50% - -231px);
  top: 186px;
}

.collections__frame-4 {
  left: calc(50% - 588px);
  top: 586px;
}

.collections__frame-5 {
  left: calc(50% - 180px);
  top: 550px;
}

.collections__frame-6 {
  left: calc(50% - -231px);
  top: 586px;
}

.frame__img {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}

.frame__img-2 {
  right: -2px;
  left: 2px;
}

.frame__text {
  color: #ffffff;
  text-align: center;
  font-family: var(--cormorant);
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  position: absolute;
  bottom: 24px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.frame__text-1 {
  left: calc(50% - 106px);
}

.frame__text-2 {
  left: calc(50% - 125px);
}

.frame__text-3 {
  left: calc(50% - 122px);
}

.frame__text-4 {
  left: calc(50% - 97px);
}

.frame__text-5 {
  left: calc(50% - 119px);
}

.frame__text-6 {
  left: calc(50% - 109px);
}

.section1__button-buttonshop {
  color: #0d554a;
  position: absolute;
  left: calc(50% - 100px);
  top: 982px;
  margin: 0;
  border-color: var(--color-texto-s3);
}

/* ---------------------------------  SECTION 5 ---------------------------------*/

.section5 {
  height: 554px;
  background-color: #fafafb;
}

.s5 {
  margin-left: 132px;
}

.featured__title-1 {
  margin-top: 78px;
}
.featured__p-s5 {
  color: #424955;
}

.card__content1 {
  margin-top: 72px;
}
/* //////////////  SECTION 6 ////////*/
.section6 {
  background-color: #fafafb;
  height: 564px;
  position: relative;
}

.story__img {
  border-radius: 8px;
  height: 368px;
  position: absolute;
  right: 132px;
  left: 132px;
  top: 124px;
  object-fit: cover;
}

.collections__title-story {
  left: calc(50% - 141px);
}

.images__iconbutton-story {
  background: var(--color-texto3);
  left: calc(50% - 26px);
  top: calc(50% - 0px);
  overflow: hidden;
}

/* ----------------------------  SECTION 7 ----------------------*/
.section7 {
  height: 522px;
  background-color: var(--background-section1);
  position: relative;
}

.section7__container {
  justify-content: space-around;
  overflow: hidden;
  display: flex;
  position: absolute;
  height: 522px;
}

.s7 {
  margin-left: 132px;
  width: 311px;
}

.section7__title {
  font-family: var(--cormorant);
  color: var(--color-texto3);
  font-style: normal;
  font-size: 48px;
  line-height: 68px;
  margin-top: 169px;
  font-weight: 600;
  width: 311px;
  height: 68px;
}

.section7__p {
  width: 264px;
  color: var(--color-texto3);
  top: 249px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: var(--manrope);
  margin-top: 12px;
}

.section7__card {
  margin-top: 72px;
  width: 696px;
  height: 375px;
  margin-left: 169px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(23, 26, 31, 0.3);
  overflow: hidden;
  display: flex;
}

.section7__card__body {
  flex-direction: column;
}

.section7__card__p {
  margin-left: 36px;
  margin-top: 60px;
  margin-bottom: 125px;
  width: 324px;
}

.section7__card__h3 {
  color: var(--color-texto3);
  font-family: var(--manrope);
  font-size: 20px;
  margin-left: 36px;
}

.section7__card__country {
  margin-left: 36px;
  color: var(--color-texto3);
}

.section7__card__button {
  margin-top: 421px;
  margin-left: 1150px;
  transform-origin: 0;
  display: flex;
  position: absolute;
}

.section7_button {
  position: relative;
  width: 52px;
  height: 52px;
  margin-top: 117.5;
  margin-right: 18px;
  border-radius: 26px;
  padding: 10.5px;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #effdfa;
  background: rgba(0, 0, 0, 0);
}

/* //////////////  FOOTER ////////*/
.footer {
  background-color: var(--background-section1);
  height: 234px;
  position: relative;
}

.header__p-footer {
  position: absolute;
  text-align: left;
  top: calc(50% - 69px);
}

.footer__item {
  color: var(--color-texto3);
  text-align: left;
  font-family: var(--manrope);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 601px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.footer__item-contact {
  top: calc(50% - 69px);
}

.footer__item-privacy {
  top: calc(50% - 35px);
}

.footer__item-terms {
  top: calc(50% - 1px);
}

.footer__item-collections {
  left: 433px;
  top: calc(50% - 35px);
}

.footer__item-shop {
  left: 433px;
  top: calc(50% - 69px);
}

.footer__item-about {
  left: 433px;
  top: calc(50% - 1px);
}

.footer__subscribe {
  color: var(--color-texto3);
  text-align: left;
  font-family: var(--cormorant);
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  right: 301px;
  top: calc(50% - 69px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.footer__subscribe-desc {
  color: #fafafb;
  font-size: 12px;
  line-height: 20px;
  right: 276px;
  top: calc(50% - 39px);
}

.footer__subscribe-input {
  background: rgba(0, 0, 0, 0);
  border-radius: 18px 0px 0px 18px;
  border-style: solid;
  border-color: var(--color-texto3);
  border-width: 1px;
  width: 269px;
  height: 35px;
  position: absolute;
  right: 247px;
  top: calc(50% - 3px);
}

.footer__subscribe-text {
  font-size: 14px;
  line-height: 22px;
  right: 132px;
  left: 34px;
  top: calc(50% - 10.5px);
}

.footer__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 24px;
  transform: translate(0px, 0px);
  overflow: visible;
}

.footer__icon-mail {
  width: 16px;
  height: 16px;
  left: 12px;
  top: calc(50% - 7.5px);
}

.footer__icon-twitter {
  right: 252px;
}

.footer__icon-face {
  right: 212px;
}

.footer__icon-linkedin {
  right: 172px;
}

.footer__icon-youtube {
  right: 132px;
}

.footer__btn {
  background: var(--color-texto2);
  border-radius: 0px 18px 18px 0px;
  width: 114px;
  height: 36px;
  position: absolute;
  right: 132px;
  top: calc(50% - 3px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  overflow: hidden;
}

.footer__btn-text {
  color: #6b4a09;
  text-align: left;
  font-family: var(--manrope);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 32.5px);
  top: calc(50% - 11px);
}

.footer__btn-text-copy {
  color: var(--color-texto3);
  top: 187px;
  left: 132px;
  bottom: 25px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

@media screen and (max-width: 1366px) {
  .homepage {
    overflow: hidden;
  }

  .header__p,
  .section1__parrafo,
  .section1__button,
  .section7__container {
    margin-left: 5%;
  }

  .nav__rectangle {
    transform: translate(-100%, 30%);
  }

  /*----------- seccion 3 y 5 ------------*/
  .content {
    margin-left: 0;
  }
  .section1__button-featured {
    margin-left: 33%;
  }

  .section1__button-buttonshop {
    left: 37.2%;
  }
  /* IMAGEN SECTION 4 */
  .story__img {
    left: 7.2%;
  }

  /*----------- seccion 7 ------------*/

  .s7 {
    margin-left: 0;
  }

  .section7__card__button {
    margin-left: 80%;
  }

  .footer__btn-text-copy {
    left: 5%;
  }
}

@media screen and (max-width: 1024px) {
  .header__p {
    margin-right: 42%;
  }

  .nav__ul {
    gap: 6%;
  }

  .nav__rectangle {
    transform: translate(-320%, 30%);
  }

  .section1__parrafo {
    font-size: 3.8rem;
    width: 44%;
    line-height: normal;
  }

  .section1__images {
    left: 55%;
    top: 25%;
  }

  .images__imagebig {
    width: 60%;
    height: 85%;
  }

  .images__imagesmall {
    width: 38%;
    height: 54%;
    left: 40%;
  }

  .images__iconbutton {
    right: 36%;
    top: 42%;
  }

  /*  SECTION 2*/
  .services__icon-1 {
    left: 14%;
  }

  .services__icon-2 {
    left: 50%;
  }

  .services__icon-3 {
    left: 80%;
  }

  .services__title-1 {
    left: 13.5%;
  }

  .services__title-2 {
    left: 48%;
  }

  .services__title-3 {
    left: 76%;
  }

  .services__text {
    font-size: 0.8rem;
    line-height: normal;
    width: 22%;
  }

  .services__text-1 {
    left: 7%;
  }

  .services__text-2 {
    left: 43%;
  }

  .services__text-3 {
    left: 72%;
  }

  /* SECTION 3 Y 5 */
  .content {
    margin-left: 5%;
  }

  .featured__title,
  .featured__p {
    margin-left: 0;
    width: 130%;
  }

  .section1__button-featured {
    margin-left: 0%;
    padding: 5% 15%;
    margin-top: 25%;
  }

  .card__content {
    width: 21%;
    left: 5%;
  }

  .card__content-1 {
    margin-left: 5%;
  }

  .card__h3 {
    font-size: 1.3rem;
  }

  .featured__title-1 {
    width: 120%;
  }
  .featured__p-s5 {
    width: 120%;
    margin-top: 50%;
    margin-bottom: 20%;
  }

  /*  SECTION 4 */

  .collections__frame {
    width: 28%;
  }

  .collections__frame-1,
  .collections__frame-4 {
    left: 4%;
  }

  .collections__frame-3,
  .collections__frame-6 {
    left: 68%;
  }

  .collections__frame-2,
  .collections__frame-5 {
    left: 36%;
  }

  .collections__title-story {
    left: 46%;
  }

  .story__img {
    left: 5.5%;
    width: 90%;
  }

  /*----------- section 7 ------------*/

  .section7__container {
    display: flex;
    justify-content: left;
  }
  .s7 {
    margin-left: 0;
  }

  .section7__title {
    font-size: 2.6rem;
  }

  .section7__p {
    font-size: 0.9rem;
  }

  .section7__card {
    margin-left: 5%;
    width: 58%;
    height: 70%;
  }

  .section7__card__p {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 60%;
    font-size: 0.9rem;
  }

  .section7__card__h3 {
    margin-left: 10%;
    font-size: 1rem;
  }

  .section7__card__country {
    margin-left: 10%;
    font-size: 0.9rem;
  }
  .section7__card__button {
    margin-left: 80%;
  }

  .section7_button {
    width: 30%;
    height: 30%;
    margin-top: -5%;
  }

  /* FOOTER */
  .footer__item-shop,
  .footer__item-collections,
  .footer__item-about {
    left: 32%;
  }

  .footer__item-contact,
  .footer__item-privacy,
  .footer__item-terms {
    left: 45%;
  }

  .footer__subscribe {
    right: 15%;
  }

  .footer__subscribe-desc {
    right: 13%;
  }
  .footer__subscribe-input {
    right: 10%;
  }

  .footer__btn {
    right: 3%;
  }

  .footer__icon {
    transform: translate(380%, 12%);
  }

  .footer__icon-mail {
    left: -19%;
    top: 25%;
  }
}

@media screen and (max-width: 768px) {
  .header__p {
    margin-right: 26%;
  }

  .nav__rectangle {
    transform: translate(-665%, 30%);
  }

  .section1__parrafo {
    font-size: 3rem;
    width: 40%;
  }

  .section1__images {
    left: 47.5%;
    top: 25%;
  }

  .images__imagebig {
    width: 43%;
    height: 70%;
  }

  .images__imagesmall {
    width: 38%;
    height: 54%;
    top: 12%;
    left: 31%;
  }

  .images__iconbutton {
    right: 48%;
    top: 33%;
    width: 6%;
    height: 6%;
  }

  .iconbutton__play {
    width: 85%;
    height: 78%;
    transform: translate(12%, 18%);
  }

  /* ----------SECTION 3 Y 5 ---------*/
  .content {
    margin-left: -12%;
    justify-content: flex-start;
  }

  .featured__title,
  .featured__p {
    margin-left: 0;
    width: 130%;
  }

  .section1__button-featured {
    margin-left: 0%;
    padding: 5% 15%;
    margin-top: 25%;
  }

  .card__content {
    width: 28%;
    margin-right: 5%;
  }

  .card__content-1 {
    margin-left: 5%;
  }

  .card__h3 {
    font-size: 1.3rem;
  }

  .featured__title-1 {
    width: 120%;
  }
  .featured__p-s5 {
    width: 120%;
    margin-top: 50%;
    margin-bottom: 20%;
  }

  /*----------- SECTION 6 ------------*/

  .images__iconbutton-story {
    top: 50%;
    left: 50%;
  }

  /*----------- SECTION 7 ------------*/

  .section7__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .s7 {
    margin-left: 0;
  }

  .section7__title {
    margin-top: 0%;
    font-size: 2.6rem;
  }

  .section7__p {
    font-size: 0.8rem;
    width: 80%;
  }

  .section7__card {
    margin-top: 5%;
    margin-left: -5%;
    width: 80%;
    height: 50%;
  }

  .section7__card__p {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 20%;
    font-size: 0.8rem;
    line-height: 190%;
  }

  .section7__card__h3 {
    margin-left: 10%;
    font-size: 0.9rem;
  }

  .section7__card__country {
    margin-left: 10%;
    font-size: 0.8rem;
    line-height: 1%;
  }
  .section7__card__button {
    margin-left: 58%;
  }

  .section7_button {
    width: 30%;
    height: 30%;
    margin-top: 20%;
  }

  /*  FOOTER */
  .footer__item-contact,
  .footer__item-privacy,
  .footer__item-terms {
    left: 41%;
  }

  .footer__item-shop,
  .footer__item-collections,
  .footer__item-about {
    left: 27%;
  }
}

@media screen and (max-width: 360px) {
  .nav__ul {
    display: none;
  }

  .header__nav {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-right: 2%;
  }

  .nav__rectangle {
    display: none;
  }

  .nav__ul > img {
    width: 16%;
    height: 18%;
  }

  .nav__a {
    font-size: 0.7rem;
  }

  input:checked ~ .nav__ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70%;
    right: -80%;
    width: 70%;
  }

  .button_menu {
    box-sizing: border-box;
    border: 1px solid var(--color-texto3);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    color: var(--color-texto3);
    z-index: 99;
  }
  .show_menu {
    display: inline-block;
  }

  .hide_menu {
    display: none;
  }

  /* Estilo del boton cuando se pasa el mouse por encima*/
  .button_menu:hover {
    background: grey;
  }

  /* Estilo del boton cuando el menú está expandido*/
  input:checked ~ .button_menu {
    background: lightgrey;
  }

  input:checked ~ .show_menu {
    display: none;
  }

  input:checked ~ .hide_menu {
    display: inline-block;
  }

  ul {
    margin-top: 10px;
    padding: 0;
    width: 200px;
  }

  li {
    display: block;
    margin: 0;
    padding: 2%;
    list-style: none;
    border-bottom: 1px solid grey;
  }

  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  li:hover {
    filter: brightness(110%);
  }

  .section1__parrafo {
    width: 100%;
    height: 10%;
    font-size: 1.8rem;
    margin: 0;
    display: flex;
    text-align: center;
    margin-top: 40%;
  }

  .section1__button {
    padding: 2% 6%;
    font-size: 0.8rem;
    display: flex;
    margin: auto;
  }

  .section1__images {
    margin: auto;
    top: 50%;
    left: 12.5%;
    height: 40%;
  }

  .images__imagebig {
    width: 40%;
    height: auto;
  }

  .images__imagesmall {
    width: 23%;
    height: auto;
    top: 22%;
    left: 27%;
  }

  .images__iconbutton {
    right: 60%;
    top: 43%;
    width: 4%;
    height: 7%;
  }

  /*  SECTION 2 */
  .services__icon {
    width: 12%;
  }

  .services__icon-1 {
    left: 8%;
  }

  .services__icon-2 {
    left: 47%;
  }

  .services__icon-3 {
    left: 78%;
  }

  .services__title {
    font-size: 0.8rem;
    top: 43%;
  }

  .services__title-1 {
    left: 4.5%;
  }

  .services__title-2 {
    left: 37%;
  }

  .services__title-3 {
    width: 21%;
    left: 73%;
    line-height: 0.8rem;
  }

  .services__text {
    font-size: 0.55rem;
  }

  /*  SECTION 4 */

  .collections__title {
    margin: 0;
    top: 1%;
    font-size: 2.3rem;
    left: 16%;
  }

  .collections__frame {
    display: flex;
    flex-direction: column;
    width: 44%;
    height: 24%;
  }

  .frame__img {
    width: 100%;
    height: 100%;
  }

  .frame__text {
    font-size: 1.5rem;
    line-height: 1.6rem;
    width: 47%;
    left: 24%;
    display: flex;
    text-align: center;
  }

  .collections__frame-1 {
    top: 8%;
  }

  .collections__frame-2 {
    top: 8%;
    left: 52%;
  }

  .collections__frame-3 {
    top: 37%;
    left: 6%;
  }

  .collections__frame-4 {
    top: 37%;
    left: 52%;
  }

  .collections__frame-5 {
    top: 66%;
    left: 6%;
  }

  .collections__frame-6 {
    top: 66%;
    left: 52%;
  }

  .section1__button-buttonshop {
    margin-top: 10%;
  }

  /* SECTION 6 */

  .collections__title-story {
    left: 27%;
  }

  .story__img {
    height: 65%;
    width: 100%;
    left: 0;
  }

  .images__iconbutton-story {
    right: 50%;
    top: 49%;
    width: 10%;
    height: 6%;
  }

  /* FOOTER */

  .header__p {
    top: 5%;
    font-size: 1.3rem;
  }

  .footer__item {
    font-size: 0.65rem;
  }

  .footer__item-shop,
  .footer__item-collections,
  .footer__item-about {
    left: 5%;
  }

  .footer__item-contact,
  .footer__item-privacy,
  .footer__item-terms {
    left: 31%;
  }

  .footer__subscribe {
    right: 3%;
    font-size: 0.9rem;
    top: 35%;
  }

  .footer__subscribe-desc {
    font-size: 0.6rem;
    right: -2%;
    width: 50%;
    line-height: 0.8rem;
    top: 50%;
  }

  .footer__btn-text-copy {
    font-size: 0.7rem;
    top: 86%;
  }

  .footer__icon {
    transform: translate(570%, 12%);
    width: 6%;
    bottom: 5%;
  }

  .footer__subscribe-input {
    width: 49%;
    top: 65%;
  }

  .footer__subscribe-text {
    font-size: 0.78rem;
    top: 21%;
  }

  .footer__btn {
    width: 21%;
    top: 65%;
  }

  .footer__btn-text {
    font-size: 0.7rem;
  }

  .footer__icon-mail {
    left: -51%;
    top: 23%;
    width: 10%;
  }
}
