@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600;700&display=swap");

:root {
  --cormorant: "Cormorant Garamond";
  --manrope: "Manrope";
  --background-section1: #093931;
  --color-texto1: #f5d38e;
  --color-texto2: #f2c66d;
  --color-texto3: #ffffff;
  --color-texto-s3: #0d554a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.homepage {
  background-color: var(--color-texto3);
  width: 1440px;
  height: 4583px;
}

.section1 {
  height: 821px;
  background-color: var(--background-section1);
  background-image: url(./assets/img/olas_blancas.png);
  position: relative;
}

.header {
  height: 62px;
  display: flex;
  align-items: center;
}

.header__p {
  display: flex;
  color: var(--color-texto1);
  font-family: var(--cormorant);
  font-size: 30px;
  margin-left: 134px;
  margin-right: 559px;
}

.header__nav {
  display: flex;
  justify-content: right;
}

.nav__ul {
  display: flex;
  gap: 30px;
  margin-right: 132px;
}

.nav__li {
  list-style-type: none;
}

.nav__a {
  text-decoration: none;
  color: var(--color-texto3);
  font-size: 14px;
  font-family: var(--manrope);
}

.nav__a-active {
  color: var(--color-texto2);
  font-weight: 700;
}

.nav__rectangle {
  position: absolute;
  width: 70px;
  height: 4px;
  top: 39px;
  left: 0;
  background-color: #f2c66d;
  border-radius: 2px;
  margin-left: 777px;
  margin-top: 8px;
}

.section1__parrafo {
  width: 537px;
  height: 282px;
  font-size: 69px;
  font-weight: 400;
  line-height: 94px;
  color: var(--color-texto1);
  font-family: var(--cormorant);
  margin-top: 170px;
  margin-left: 132px;
  margin-right: 771px;
}

.section1__button {
  display: inline-flex;
  padding: 12px 59px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  margin-top: 24px;
  margin-left: 132px;
  font-family: var(--manrope);
  color: var(--color-texto3);
  font-size: 18px;
}

.section1__images {
  position: absolute;
  width: 568px;
  height: 543px;
  top: 139px;
  left: 741px;
}

.images__imagebig {
  position: absolute;
  width: 407px;
  height: 543px;
  top: 0;
  left: 0;
}

.images__imagesmall {
  position: absolute;
  width: 275px;
  height: 355px;
  top: 102px;
  left: 293px;
}

.images__iconbutton {
  background: rgba(0, 0, 0, 0);
  border-radius: 26px;
  border-style: solid;
  border-color: #effdfa;
  border-width: 1px;
  width: 52px;
  height: 52px;
  position: absolute;
  right: 114px;
  top: 248px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.iconbutton__play {
  position: absolute;
  transform: translate(10px, 10px);
  width: 31px;
  height: 31px;
}
/* //////////////  SECTION 2  ////////*/
.section2 {
  width: 1440px;
  height: 232px;
  position: relative;
  overflow: hidden;
}

.services__icon {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 36px;
  overflow: visible;
}

.services__icon-1 {
  left: calc(50% - 433px);
}

.services__icon-2 {
  left: calc(50% - 30px);
}
.services__icon-3 {
  left: calc(50% - -373px);
}

.services__title {
  color: #171a1f;
  text-align: center;
  font-family: var(--cormorant);
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  top: 116px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.services__title-1 {
  left: calc(50% - 436px);
  width: 70px;
}

.services__title-2 {
  left: calc(50% - 58px);
  width: 120px;
}

.services__title-3 {
  left: calc(50% - -334px);
  width: 143px;
}

.services__text {
  color: #9095a0;
  text-align: center;
  font-family: var(--manrope);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  position: absolute;
  top: 144px;
  width: 276px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.services__text-1 {
  left: calc(50% - 540px);
}

.services__text-2 {
  left: calc(50% - 137px);
}

.services__text-3 {
  left: calc(50% - -266px);
  height: 40px;
}

/* //////////////  SECTION 3 ////////*/
.section3 {
  height: 506px;
}

.content {
  margin-left: 70px;
  margin-top: 48px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.featured {
  margin-left: 132px;
}

.featured__title {
  width: 264px;
  height: 112px;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  color: var(--color-texto-s3);
  font-family: var(--cormorant);
  margin-top: 54px;
  margin-left: 132px;
}

.featured__p {
  width: 264px;
  height: 78px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9095a0;
  font-family: var(--manrope);
  margin-top: 12px;
  margin-left: 132px;
}

.section1__button-featured {
  color: var(--color-texto-s3);
  border: 1px solid var(--color-texto-s3);
}

.card__content {
  overflow: hidden;
  margin-right: 24px;
  width: 276px;
  height: 410px;
  flex-shrink: 0;
  top: 48px;
  left: 444px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
}

.card__content-1 {
  margin-left: 48px;
}

.card__content-2 {
  margin-right: 0;
}

.card__h3 {
  margin-top: 12px;
  margin-left: 12px;
  color: #171a1f;
  font-family: var(--cormorant);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.card__price {
  color: #171a1f;
  margin-left: 12px;
  font-family: var(--manrope);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

/* //////////////  SECTION 4 ////////*/
.section4 {
  height: 1082px;
  position: relative;
}

.collections__title {
  color: #0d554a;
  text-align: center;
  font-family: var(--cormorant);
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 141px);
  top: 48px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.collections__frame {
  background: #9095a0;
  border-radius: 8px;
  width: 360px;
  height: 360px;
  position: absolute;
  box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
  overflow: hidden;
}

.collections__frame-1 {
  left: calc(50% - 588px);
  top: 186px;
}

.collections__frame-2 {
  left: calc(50% - 180px);
  top: 150px;
}

.collections__frame-3 {
  left: calc(50% - -231px);
  top: 186px;
}

.collections__frame-4 {
  left: calc(50% - 588px);
  top: 586px;
}

.collections__frame-5 {
  left: calc(50% - 180px);
  top: 550px;
}

.collections__frame-6 {
  left: calc(50% - -231px);
  top: 586px;
}

.frame__img {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}

.frame__img-2 {
  right: -2px;
  left: 2px;
}

.frame__text {
  color: #ffffff;
  text-align: center;
  font-family: var(--cormorant);
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  position: absolute;
  bottom: 24px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.frame__text-1 {
  left: calc(50% - 106px);
}

.frame__text-2 {
  left: calc(50% - 125px);
}

.frame__text-3 {
  left: calc(50% - 122px);
}

.frame__text-4 {
  left: calc(50% - 97px);
}

.frame__text-5 {
  left: calc(50% - 119px);
}

.frame__text-6 {
  left: calc(50% - 109px);
}

.section1__button-buttonshop {
  color: #0d554a;
  position: absolute;
  left: calc(50% - 100px);
  top: 982px;
  margin: 0;
  border-color: var(--color-texto-s3);
}

/* //////////////  SECTION 5 ////////*/

.section5 {
  height: 554px;
}

.s5 {
  margin-left: 132px;
}

.featured__p-s5 {
  color: #424955;
}
