@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

:root {
  --cormorant: "Cormorant Garamond";
  --manrope: "Manrope";
  --background-section1: #093931;
  --color-texto1: #f5d38e;
  --color-texto2: #f2c66d;
  --color-texto3: #ffffff;
  --color-texto-s3: #0d554a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage {
  position: relative;
}

.section1 {
  background: #093931;
  padding: 2vw;
}

input,
label {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__p {
  color: #f5d38e;
  font-family: var(--cormorant);
  font-size: 3vw;
  line-height: 4.5vw;
  margin-left: 3vw;
}

.header__nav {
  display: flex;
}

.nav__ul {
  display: flex;
  gap: 2.2vw;
  margin-right: 5vw;
}

.nav__li {
  list-style-type: none;
}

.li__icon {
  width: 2.5vw;
}

.nav__a {
  text-decoration: none;
  color: var(--color-texto3);
  font-size: 1.6vw;
  font-family: var(--manrope);
  cursor: pointer;
}

.nav__a-active {
  color: var(--color-texto2);
  font-weight: 700;
  padding-bottom: 7px;
  border-bottom: 4px solid var(--color-texto2);
  border-radius: 0.13rem;
}

.darling {
  color: #f5d38e;
  font-family: var(--cormorant);
  font-size: 3vw;
  line-height: 4.5vw;
  position: absolute;
  left: 5vw;
  top: 50%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1) translateY(-50%);
}

/*-------------- SECTION 2 ----------------*/
.section2 {
  padding: 2vw;
}

.image-5 {
  width: 64px;
  height: 82px;
  left: calc(50% - 588px);
  top: 212px;
}

.container__menu {
  display: flex;
  gap: 1rem;
  margin-left: 3vw;
  align-items: center;
}

.home,
.shop,
.luxury-charms {
  color: #0d554a;
  text-align: left;
  font-family: var(--cormorant);
  font-size: 1.8vw;
  line-height: 1.5;
  font-weight: 400;
}

.icon__forward {
  width: 1.5vw;
  height: 1.5vw;
  overflow: visible;
}

.container__s2 {
  display: flex;
}

.container__imagenes {
  max-width: 100%;

  display: flex;
  margin-top: 2vw;
  position: relative;
}

.img__column {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  transform: translateX(-50%);
  gap: 0.2rem;
}

.image-52 {
  border-radius: 8px;
  width: 30vw;  
  height: auto;
  object-fit: cover;
  margin-left: -1.3vw;
}

.image-53,
.image-54,
.image-55,
.image-5 {
  width: auto;
  max-width: 64px;
  height: auto;
  object-fit: cover;
}

.image-53 {
  top: 306px;
}

.image-54 {
  top: 400px;
  box-shadow: 0px 4px 9px 0px rgba(23, 26, 31, 0.11), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
}

.image-55 {
  border-radius: 4px;
  border-style: solid;
  border-color: #0d554a;
  border-width: 1px;
}

.heart-1 {
  width: 3vw;
  height: 2vw;
  margin-left: -4vw;
  margin-top: 1vw; 
  transform: translate(0px, 0px);
  overflow: visible;
}

.container__options {
  margin-top: 2vw;
  margin-left: 2vw;
  padding: 1vw;
}

.luxury-charms-ring {
  color: #0d554a;
  text-align: left;
  font-family: var(--cormorant);
  font-size: 3vw;
  line-height: 2.4vw;
  font-weight: 600;
  left: 50%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.code-78205 {
  color: #323842;
  text-align: left;
  font-family: var(--manrope);
  font-size: 1.3vw;
  line-height: 2.6vw;
  font-weight: 400;
  margin-left: 34%;
  transform-origin: 0 0;
  transform: translateX(-50%) rotate(0deg) scale(1, 1);
}

.price {
  color: #b37d10;
  text-align: left;
  font-family: var(--manrope);
  font-size: 2.8vw;
  font-weight: 600;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.color-rose-gold {
  color: #424955;
  text-align: left;
  font-family: var(--manrope);
  font-size: 1.5vw;
  line-height: 2.6vw;
  font-weight: 700;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.container__ovals {
  display: flex;
}

.oval {
  border-radius: 50%;
  border-style: solid;
  width: 3vw;
  height: 3vw;
  transform-origin: 50% 50%;
  margin-left: 4%;
}

.oval-1 {
  background: #dee1e6;
  border-color: #dee1e6;
  border-width: 1px;
  transform: translateX(-50%) rotate(0deg) scale(1, 1);
}

.oval-2 {
  background: #e6ae87;
  border-color: #0d554a;
  border-width: 2px;
  transform: translateX(-50%) rotate(0deg) scale(1, 1);
}

.container__size {
  display: flex;
  justify-content: space-between;
}

.size-48 {
  color: #424955;
  text-align: left;
  font-family: var(--manrope);
  font-size: 1.6vw;
  line-height: 2.6vw;
  font-weight: 700;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.what-is-my-size {
  color: #424955;
  text-align: right;
  font-family: var(--manrope);
  font-size: 1.2vw;
  line-height: 2vw;
  font-weight: 500;
  text-decoration: underline;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.pagination {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 0.5vw;
}

.pagination_button {
  background-color: var(--color-texto3);
  border: 1px solid #565e6c;
  color: #565e6c;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.7vw;
  font-family: var(--manrope);
}

.quantity {
  color: #424955;
  text-align: left;
  font-family: var(--manrope);
  font-size: 1.6vw;
  line-height: 4vh;
  font-weight: 700;
}

.container__quantity {
  display: flex;
  gap: 0.5rem;
}

.quantity__btn {
  background: #f3f4f6;
  border-radius: 4px;
  width: 3vw;
  height: 3vw;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  overflow: hidden;
}

.btn__txt {
  width: 100%;
  color: #565e6c;
  text-align: center;
  font-family: var(--manrope);
  font-size: 1.5vw;
  line-height: 3vw;
  font-weight: 400;
  margin-top: 4%;
  cursor: pointer;
}

.input__number {
  display: block;
  border: none;
  background: #f3f4f6;
}

.btn__add {
  display: flex;
  background: #ffffff;
  border-radius: 5vw;
  border-style: solid;
  border-color: #0d554a;
  border-width: 1px;
  width: 24vw;
  height: 4vw;
  overflow: hidden;
  margin-top: 2%;
  cursor: pointer;
}

.add__text {
  color: #0d554a;
  text-align: left;
  font-family: var(--manrope);
  font-size: 1.5vw;
  line-height: 3vw;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.add__icono {
  width: 1.8rem;
  transform: translate(0px, 0px);
  overflow: visible;
  margin-left: 24%;
}

.add__text-buy {
  color: #ffffff;
  background: #0d554a;
  width: 100%;
  justify-content: center;
}

.container__services {
  display: flex;
  gap: 0.8rem;
  max-width: 100%;
  margin-top: 3%;
}

.text__services {
  color: #171a1f;
  text-align: left;
  font-family: var(--manrope);
  font-size: 1.4vw;
  line-height: 1.2vw;
  font-weight: 400;
  max-width: 100%;
  width: 100%;
  border-bottom: 2px solid gray;
  padding-bottom: 1.5vw;
}

.icon__vector {
  width: 100%;
  height: 1px;
  margin-top: 4%;
  margin-left: -10%;
  object-fit: cover;
}

.icon__down {
  width: 1.5vw;
  height: 1.5vw;
  top: 12px;
  left: 246px;
}

/* ------------------------ SECTION 3 --------------------------- */
.section3 {
  position: relative;
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container__texts3 {
  background: #fafafb;
  border-radius: 8px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.section3__text {
  color: #323842;
  text-align: left;
  font-family: var(--manrope);
  font-weight: 400;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.section3__text-description {
  font-size: 1.2vw;
  line-height: 3vw;
}

.section3__text-title {
  color: #0d554a;
  font-family: var(--cormorant);
  font-size: 3vw;
  line-height: 7vw;
  font-weight: 600;
}

.section3__text-definition {
  font-size: 1.4vw;
  line-height: 1.5vw;
}

.container__img3 {
  margin-top: 4%;
  border-radius: 8px;
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
}

.btn__play {
  display: block;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  padding: 2px;
  background-color: white;
}

.section3__img {
  width: 100%;
  height: auto;
}

/* -------------------- SECTION 4 ------------------ */
.section4 {
  position: relative;
  padding: 2vw;
  display: flex;
}

.container__s4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section4__img {
  width: 6vw;
  height: auto;
  object-fit: cover;
}

.section4__text-title {
  color: #171a1f;
  text-align: center;
  font-family: var(--cormorant);
  font-size: 1.5vw;
  line-height: 28px;
  font-weight: 600;
}

.section4__text-description {
  color: #9095a0;
  text-align: center;
  font-family: var(--manrope);
  font-size: 1vw;
  line-height: 1.8vw;
  font-weight: 400;
  width: 60%;
}

/* -------------------- SECTION 5 ------------------ */
.section5 {
  padding: 3vw;
  padding-right: 0;
}

.section5__title {
  color: var(--color-texto-s3);
  text-align: left;
  font-family: var(--cormorant);
  font-size: 2vw;
  font-weight: 700;
  margin-left: 5vw;
}

.container__s5 {
  margin-top: 2vw;
  margin-left: 5vw;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.container-box {
  background: #ffffff;
  border-radius: 8px;
  width: 30vw;
  max-width: 276px;
  height: auto;
  box-shadow: 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
  overflow: hidden;
}

.box__title {
  color: #171a1f;
  text-align: left;
  font-family: var(--cormorant);
  font-size: 1.5vw;
  line-height: 2vw;
  font-weight: 700;
  margin-left: 1.2vw;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.box__title-price {
  font-size: 1.4vw;
  font-weight: 400;
}

.box__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.box__img-img5 {
  width: 35%;
}

.container-box-img5 {
  margin-left: 3vw;
}

/* -------------------- SECTION 6 ------------------ */
.section6 {
  background: var(--background-section1);
  display: flex;
  padding: 5vw;
  gap: 10vw;
}

.container__texts {
  margin-top: 6vw;
  margin-left: 5vw;
}

.texts__title {
  color: var(--color-texto3);
  font-family: var(--cormorant);
  font-size: 2vw;
  font-weight: 600;
  line-height: 5vw;
}

.texts__description {
  width: 16vw;
  color: var(--color-texto3);
  font-family: var(--manrope);
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.3vw;
}

.container__frames6 {
  border-radius: 8px;
  background: rgba(23, 26, 31, 0.3);
  display: flex;
}

.container__imgs6 {
  width: 40%;
  height: auto;
}

.frames6__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.frames6__texts {
  position: relative;
  padding: 2vw;
}

.frames6__text {
  margin-top: 4vw;
  margin-bottom: 2vw;
  width: 24vw;
  color: var(--color-texto3);
  font-family: var(--manrope);
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.7vw;
}

.frames6__name {
  color: var(--color-texto3);
  font-family: var(--manrope);
  font-size: 1.2vw;
  font-weight: 700;
  line-height: 1.7vw;
}

.frames6__country {
  color: var(--color-texto3);
  font-family: var(--manrope);
  font-size: 1vw;
  font-weight: 400;
}

.container__icons6 {
  display: flex;
  position: absolute;
  bottom: -2vw;
  right: 0;
  gap: 1vw;
}

.frame6__icon {
  width: 3.5vw;
  display: block;
  border: 0.2vw solid white;
  border-radius: 50%;
  color: white;
  padding: 2px;
}

/* -------------------- FOOTER------------------ */
.footer {
  background: var(--background-section1);
  padding: 2vw;
}

.footer__texts {
  margin-top: 1vw;
  display: flex;
  justify-content: space-around;
}

.texts1__darling {
  color: #f5d38e;
  font-family: var(--cormorant);
  font-size: 2vw;
  line-height: 2vw;
}

.texts1__copyright {
  color: var(--color-texto3);
  font-family: var(--manrope);
  font-size: 1vw;
  font-weight: 400;
  line-height: 2vw;
}

.footer__texts2 {
  display: flex;
  gap: 4vw;
}

.container__texts2 {
  display: flex;
  flex-direction: column;
}

.footer__texts3 {
  position: relative;
}

.texts1__copyright-suscribe {
  font-size: 1.2vw;
}

.texts1__copyright-suscribe-desc {
  font-size: 0.7vw;
  line-height: 1vw;
  margin-bottom: 1vw;
}

.container__subscribe {
  display: flex;
  border-radius: 2vw 0px 0px 2vw;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  justify-content: flex-start;
  gap: 0.3vw;
  align-items: center;
}

.input__icon {
  width: 1.5vw;
  margin-left: 1vw;
}

.subscribe__text {
  color: var(--color-texto3);
  font-family: var(--manrope);
  font-size: 1vw;
  font-weight: 400;
  line-height: 2vw;
  margin-bottom: ;
}

.subscribe_btn {
  position: absolute;
  width: 8vw;
  border-radius: 0px 2vw 2vw 0px;
  background: #f2c66d;
  color: #6b4a09;
  font-family: var(--manrope);
  font-size: 1.1vw;
  font-weight: 400;
  padding: 0.4vw;
  left: 16vw;
  border: none;
}

.footer__networks {
  padding: 1vw;
  display: flex;
  justify-content: space-between;
}

.container__network-icons {
  display: flex;
  gap: 0.3vw;
}

.network__icons {
  width: 1.6vw;
}

.texts1__copyright-copy {
  margin-left: 9vw;
}

/* -----------------------    MODAL CAR --------------------------------------- */
.modal-navbar {
  background-color: hsl(0deg, 0%, 100%);
  width: 31vw;
  height: 100vh;
  padding: 2vw;
}
.modal-navbar__background {
  background-color: hsla(0deg, 0%, 0%, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  display: none;
}

.modal-navbar__close-icon:hover {
  cursor: pointer;
}
.show {
  display: flex;
  justify-content: flex-end;
}
.display-none {
  display: none;
}

.container1__title {
  color: #171a1f;
  font-family: var(--cormorant);
  font-size: 1.39vw;
  font-weight: 700;
  line-height: 1vw;
}

.section2__container1 {
  margin-top: 3vw;
  width: 100%;
  display: flex;
}

.container1__imgs {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
  margin-top: 1.4vw;
  width: 40%;
}

.container1__img {
  width: 100%;
  object-fit: cover;
}

.container__summary {
  width: 100%;
}

.summary__container__texts {
  display: flex;
  justify-content: space-between;
  padding: 0.5vw;
  margin-top: 2.7vw;
}

.texts {
  color: #171a1f;
  font-family: var(--manrope);
  font-size: 1.3vw;
  font-weight: 700;
  line-height: 1.5vw;
}

.texts__code {
  color: #565e6c;
  font-size: 1.14vw;
  font-weight: 400;
}

.summary__icon__trash {
  width: 1.6vw;
  object-fit: cover;
  cursor: pointer;
}

.texts-trash {
  margin-top: 1vw;
}

.contain__total{
  width: 100%;
  margin-top: 20vh;
}

.summary__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5vw;
}

.payment__btn{
  margin-top: 2vw;
  border-radius: 22px;
  background: #0d554a;
  width: 100%;
  display: inline-flex;
  padding: 1vw;
  justify-content: center;
  align-items: center;
  color: var(--color-texto3);
  font-weight: 400;
  font-size: 1.4vw;
  border: none;
  cursor: pointer;
}

/* -------------------- RESPONSIVE------------------ */

@media screen and (max-width: 1000px) {
  .container__s2 {
    display: flex;
    flex-direction: column;
  }

  .container__imagenes {
    display: flex;
    justify-content: center;
  }

  .container__options {
    margin-left: 5vw;
  }
}

@media screen and (max-width: 628px) {
  .image-52 {
    width: 70%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .image-53,
  .image-54,
  .image-55,
  .image-5 {
    max-width: 50px;
  }

  .nav__ul {
    display: none;
  }

  .header__nav {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-right: 2%;
  }

  .nav__a {
    font-size: 0.7rem;
  }

  .nav__a-active {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--color-texto2);
  }

  input:checked ~ .nav__ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70%;
    width: 30%;
    gap: 0.2vw;
    text-align: center;
    z-index: 1;
  }

  .button_menu {
    box-sizing: border-box;
    border: 1px solid var(--color-texto3);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    color: var(--color-texto3);
    z-index: 99;
  }
  .show_menu {
    display: inline-block;
  }

  .hide_menu {
    display: none;
  }

  /* Estilo del boton cuando se pasa el mouse por encima*/
  .button_menu:hover {
    background: grey;
  }

  /* Estilo del boton cuando el menú está expandido*/
  input:checked ~ .button_menu {
    background: lightgrey;
  }

  input:checked ~ .show_menu {
    display: none;
  }

  input:checked ~ .hide_menu {
    display: inline-block;
  }

  ul {
    margin-top: 10px;
    padding: 0;
    width: 200px;
  }

  li {
    display: block;
    margin: 0;
    padding: 2%;
    list-style: none;
    border-bottom: 1px solid grey;
    background: #1f8171;
  }

  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  li:hover {
    font-size: 4vw;
    filter: brightness(110%);
  }
}
