@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

:root {
  --cormorant: "Cormorant Garamond";
  --manrope: "Manrope";
  --background-section1: #093931;
  --color-texto1: #f5d38e;
  --color-texto2: #f2c66d;
  --color-texto3: #ffffff;
  --color-texto-s3: #0d554a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
}

.section {
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
  position: relative;
}

.section1 {
  background-color: var(--background-section1);
  background-image: url(../assets/img/olas_blancas.png);
}

input,
label {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-section1);
}

.header__p {
  color: #f5d38e;
  font-family: var(--cormorant);
  font-size: 3vw;
  line-height: 4.5vw;
  margin-left: 3vw;
}

.header__nav {
  display: flex;
}

.nav__ul {
  display: flex;
  gap: 2.2vw;
  margin-right: 5vw;
}

.nav__li {
  list-style-type: none;
}

.li__icon {
  width: 1.389vw;
}

.nav__a {
  text-decoration: none;
  color: var(--color-texto3);
  font-size: 0.972vw;
  font-family: var(--manrope);
  cursor: pointer;
}

.nav__a-active {
  color: var(--color-texto2);
  font-weight: 700;
  padding-bottom: 7px;
  border-bottom: 4px solid var(--color-texto2);
  border-radius: 0.13rem;
}

.darling {
  color: #f5d38e;
  font-family: var(--cormorant);
  font-size: 3vw;
  line-height: 4.5vw;
  position: absolute;
  left: 5vw;
  top: 50%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1) translateY(-50%);
}

.container__section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 84px;
}

.section1__title {
  width: 537px;
  height: 82px;
  font-size: 69px;
  font-weight: 400;
  line-height: 94px;
  color: var(--color-texto1);
  font-family: var(--cormorant);
}


.container__search__bar {
  margin-top: 24px;
  border-radius: 26px;
  border: 1px solid #F8F9FA;
  background: var(--color-texto3);
  width: 757px;
  display: flex;
  padding: 12px 542px 11px 20px;
  margin-bottom: 147px;
}

.bar__input {
  border: none;
  outline: none;
  color: #323842;
  font-family: var(--manrope);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-left: 5%;
  gap: 8px;
}

.search__bar button {
  border: 1px solid var(--color-texto3);
  background: var(--color-texto3);
}

.search__bar button:hover {
  color: #f2c66d;
}

.search__img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/*----------------------------SECTION 2-------------------------*/

.section2 {
  background-color: var(--color-texto3);
  padding-left: 9.167vw;
  padding-right: 9.167vw;
}

.container__filter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 3.75vw;
}

.filter__nav {
  background-color: var(--color-texto3);
  display: flex;
}

.filter__nav__li {
  display: flex;
  gap: 43.3px;
  flex-shrink: 0;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
}

.nav__li__a {
  text-decoration: none;
  color: var(--color-texto-s3);
  width: 148.6px;
  height: 38px;
  padding: 8px 0px;
  border-radius: 19px;
  background: rgba(0, 0, 0, 0.00);
  transition: background-color 0.3s ease;
  font-family: var(--manrope);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border-right-width: 1px;
  border-right-color: #9AEFE2;
}

.nav__li__a:hover {
  background-color: var(--color-texto-s3);
  color: var(--color-texto3);
}

.line {
  background: #9aefe2;
  width: 1px;
  height: 19px;
  flex-shrink: 0;
  margin-top: 1.2%;
  margin-left: 0;
}


.sort__by__price {
  border-color: var(--color-texto3);
  color: #171A1F;
  font-family: var(--manrope);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  width: 138px;
  height: 36px;
  flex-shrink: 0;
}

.select__line {
  width: 138px;
  height: 2px;
  flex-shrink: 0;
  background-color: #9095A0;
}


.container__cards {
  margin-top: 3.333vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
  grid-gap: 2%;
  margin-bottom: 10%;
  flex-wrap: wrap;
}

.card {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
  height: 28.056vw;
  width: 19.167vw;
  border-radius: 8px;
  background: var(--color-texto3);
  box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
}


.card__big {
  width: 40vw;
  height: 57.361vw;
}

.card img {
  width: 100%;
  height: 75%;
}

.card__big img {
  width: 100%;
  height: auto;
}

.card__h3 {
  margin-top: 12px;
  margin-left: 12px;
  color: #171a1f;
  font-family: var(--cormorant);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.card__price {
  color: #171a1f;
  margin-left: 12px;
  font-family: var(--manrope);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 12px;
}

.pages {
  margin-top: 17%;
  margin-left: 35%;
  margin-bottom: 4.306vw;
  width: 348px;
  height: 44px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pages a {
  text-decoration: none;
  color: #9095A0;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

.pages__border {
  align-items: center;
  width: 41px;
  height: 44px;
  padding: 8px 15px;
  border-radius: 21px;
  border: 1px solid var(--color-texto-s3);
  color: var(--color-texto-s3);
  background: rgba(0, 0, 0, 0.00);
}

/* ------------------- SECTION 3 -------------- */
.section3 {
  height: 232px;
  position: relative;
}

.services__icon {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 36px;
  overflow: visible;
}

.services__icon-1 {
  left: calc(50% - 433px);
}

.services__icon-2 {
  left: calc(50% - 30px);
}

.services__icon-3 {
  left: calc(50% - -373px);
}

.services__title {
  color: #171a1f;
  text-align: center;
  font-family: var(--cormorant);
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  top: 116px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.services__title-1 {
  left: calc(50% - 436px);
  width: 70px;
}

.services__title-2 {
  left: calc(50% - 58px);
  width: 120px;
}

.services__title-3 {
  left: calc(50% - -334px);
  width: 143px;
}

.services__text {
  color: #9095a0;
  text-align: center;
  font-family: var(--manrope);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  position: absolute;
  top: 144px;
  width: 276px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.services__text-1 {
  left: calc(50% - 540px);
}

.services__text-2 {
  left: calc(50% - 137px);
}

.services__text-3 {
  left: calc(50% - -266px);
  height: 40px;
}

/* ----------------  FOOTER ---------- */
.footer {
  margin-top: 45px;
  background: var(--background-section1);
  padding: 2vw;
}

.footer__texts {
  margin-top: 1vw;
  display: flex;
  justify-content: space-around;
}

.texts1__darling {
  color: #f5d38e;
  font-family: var(--cormorant);
  font-size: 2vw;
  line-height: 2vw;
}

.texts1__copyright {
  color: var(--color-texto3);
  font-family: var(--manrope);
  font-size: 1vw;
  font-weight: 400;
  line-height: 2vw;
}

.footer__texts2 {
  display: flex;
  gap: 4vw;
}

.container__texts2 {
  display: flex;
  flex-direction: column;
}

.footer__texts3 {
  position: relative;
}

.texts1__copyright-suscribe {
  font-size: 1.2vw;
}

.texts1__copyright-suscribe-desc {
  font-size: 0.7vw;
  line-height: 1vw;
  margin-bottom: 1vw;
}

.container__subscribe {
  display: flex;
  border-radius: 2vw 0px 0px 2vw;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  justify-content: flex-start;
  gap: 0.3vw;
  align-items: center;
}

.input__icon {
  width: 1.5vw;
  margin-left: 1vw;
}

.subscribe__text {
  color: var(--color-texto3);
  font-family: var(--manrope);
  font-size: 1vw;
  font-weight: 400;
  line-height: 2vw;
}

.subscribe_btn {
  position: absolute;
  width: 8vw;
  border-radius: 0px 2vw 2vw 0px;
  background: #f2c66d;
  color: #6b4a09;
  font-family: var(--manrope);
  font-size: 1.1vw;
  font-weight: 400;
  padding: 0.4vw;
  left: 16vw;
  border: none;
  cursor: pointer;
}

.footer__networks {
  padding: 1vw;
  display: flex;
  justify-content: space-between;
}

.container__network-icons {
  display: flex;
  gap: 0.3vw;
}

.network__icons {
  width: 1.6vw;
}

.texts1__copyright-copy {
  margin-left: 9vw;
}



/*------------------- MEDIA QUERY----------------------------*/

@media screen and (max-width: 1264px) {
  .card__h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1076px) {
  .section2 {
    padding-left: 4vw;
  }

  .container__cards {
    padding-left: 20vw;
  }

  .card__h3 {
    font-size: 18px;
  }

  .card__price {
    font-size: 14px;
  }

  .pages {
    margin-top: 34%;
  }

  /*--------------------- SECTION 3------------------*/

  .section3 {
    width: 1076px;
  }
}

@media screen and (max-width: 985px) {

  .nav__li__a {
    width: 128px;
    font-size: 12px;
  }

  .sort__by__price {
    width: 118px;
    font-size: 12px;
  }

  .select__line {
    width: 118px;
  }
}


@media screen and (max-width: 964px) {
  
  .card {
    width: 20vw;
    height: 30vw;
  }
}

@media screen and (max-width: 923px) {
  
  .card {
    width: 22vw;
    height: 30vw;
  }
}

@media screen and (max-width: 886px) {
  .card {
    height: 32vw;
  }
}

@media screen and (max-width: 868px) {
  .container__search__bar {
    width: 7px;
  }

  .container__cards {
    grid-gap: 0.2%;
  }

  .pages {
    margin-top: 22%;
  }
}

@media screen and (max-width: 851px) {
  .container__cards {
    padding-left: 17vw;
  }
}












@media screen and (max-width: 600px) {
  .nav__ul {
    display: none;
  }

  .header__nav {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-right: 2%;
  }

  .nav__a {
    font-size: 0.7rem;
  }

  .nav__a-active {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--color-texto2);
  }

  input:checked~.nav__ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70%;
    width: 30%;
    gap: 0.2vw;
    text-align: center;
    z-index: 1;
  }

  .button_menu {
    box-sizing: border-box;
    border: 1px solid var(--color-texto3);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    color: var(--color-texto3);
    z-index: 99;
  }

  .show_menu {
    display: inline-block;
  }

  .hide_menu {
    display: none;
  }

  /* Estilo del boton cuando se pasa el mouse por encima*/
  .button_menu:hover {
    background: grey;
  }

  /* Estilo del boton cuando el menú está expandido*/
  input:checked~.button_menu {
    background: lightgrey;
  }

  input:checked~.show_menu {
    display: none;
  }

  input:checked~.hide_menu {
    display: inline-block;
  }

  ul {
    margin-top: 10px;
    padding: 0;
    width: 200px;
  }

  li {
    display: block;
    margin: 0;
    padding: 2%;
    list-style: none;
    border-bottom: 1px solid grey;
    background: #1f8171;
  }

  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  li:hover {
    font-size: 4vw;
    filter: brightness(110%);
  }
}